openapi: 3.0.3
info:
  title: Lint API
  version: 1.0.0
  description: |
    Public API surface shared by:
      - Lint Cloud (lint.to / api.lint.to) — managed SaaS, hosts policies and team data
      - @lint/server — local Hono server embedded in @lint/desktop and runnable standalone

    @osmove/lint-sdk is the typed TypeScript client for both. End-users point
    `createLintClient({ baseUrl })` at whichever instance they're talking to.

    Regenerate types after editing this file:
      pnpm --filter @osmove/lint-sdk openapi:fetch    # (cloud only)
      pnpm --filter @osmove/lint-sdk openapi:types
servers:
  - url: https://api.lint.to
    description: Lint Cloud (production)
  - url: http://127.0.0.1:7878
    description: Local @lint/server

tags:
  - name: meta
  - name: runs
  - name: policies
  - name: projects
  - name: repos
  - name: linters
  - name: ai

paths:
  /api/health:
    get:
      tags: [meta]
      summary: Liveness probe
      operationId: getHealth
      responses:
        "200":
          description: Service is up
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Health" }

  /api/runs:
    get:
      tags: [runs]
      summary: List recent lint runs
      operationId: listRuns
      responses:
        "200":
          description: Run list
          content:
            application/json:
              schema:
                type: object
                properties:
                  runs:
                    type: array
                    items: { $ref: "#/components/schemas/Run" }
    post:
      tags: [runs]
      summary: Trigger a new lint run
      operationId: createRun
      requestBody:
        content:
          application/json:
            schema: { $ref: "#/components/schemas/CreateRun" }
      responses:
        "201":
          description: Run accepted
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Run" }

  /api/runs/{id}:
    get:
      tags: [runs]
      summary: Get a single run by id
      operationId: getRun
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Run
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Run" }
        "404": { description: Not found }

  /api/runs/{id}/stream:
    get:
      tags: [runs]
      summary: Subscribe to live run events (Server-Sent Events)
      operationId: streamRun
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: text/event-stream — heartbeat events while the run is alive
          content:
            text/event-stream:
              schema: { type: string }

  /api/policies:
    get:
      tags: [policies]
      summary: Read .lintrc.yaml from the workspace
      operationId: getPolicies
      responses:
        "200":
          description: Current policy
          content:
            application/json:
              schema: { $ref: "#/components/schemas/PolicyView" }
    put:
      tags: [policies]
      summary: Overwrite .lintrc.yaml
      operationId: updatePolicies
      requestBody:
        content:
          application/json:
            schema: { type: object, additionalProperties: true }
      responses:
        "200":
          description: Saved
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }

  /api/repos:
    get:
      tags: [repos]
      summary: List registered repositories (registry merged with workspace)
      operationId: listRepos
      responses:
        "200":
          description: Repo list
          content:
            application/json:
              schema:
                type: object
                properties:
                  repos:
                    type: array
                    items: { $ref: "#/components/schemas/Repo" }
    post:
      tags: [repos]
      summary: Register a repository in ~/.lint/projects.json
      operationId: createRepo
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [path]
              properties:
                path: { type: string }
                name: { type: string }
      responses:
        "201":
          description: Registered
          content:
            application/json:
              schema: { $ref: "#/components/schemas/RepoEntry" }

  /api/projects:
    get:
      tags: [projects]
      summary: List projects with repository children
      operationId: listProjects
      responses:
        "200":
          description: Project list
          content:
            application/json:
              schema:
                type: object
                properties:
                  projects:
                    type: array
                    items: { $ref: "#/components/schemas/Project" }
    post:
      tags: [projects]
      summary: Create a project, optionally seeded with a repository root
      operationId: createProject
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [name]
              properties:
                name: { type: string }
                root: { type: string }
      responses:
        "201":
          description: Created
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Project" }

  /api/projects/{id}:
    get:
      tags: [projects]
      summary: Get a project by id
      operationId: getProject
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Project
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Project" }
        "404": { description: Not found }

  /api/projects/{id}/repos:
    post:
      tags: [projects]
      summary: Attach a repository to a project
      operationId: addProjectRepo
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      requestBody:
        content:
          application/json:
            schema:
              type: object
              required: [path]
              properties:
                path: { type: string }
                name: { type: string }
      responses:
        "201":
          description: Attached
          content:
            application/json:
              schema: { $ref: "#/components/schemas/Repo" }
        "404": { description: Not found }

  /api/projects/{id}/repos/{repoId}:
    delete:
      tags: [projects]
      summary: Remove a repository from a project
      operationId: removeProjectRepo
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
        - name: repoId
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Removed
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
        "404": { description: Not found }

  /api/repos/{id}:
    delete:
      tags: [repos]
      summary: Unregister a repository
      operationId: removeRepo
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Removed
          content:
            application/json:
              schema:
                type: object
                properties:
                  ok: { type: boolean }
        "404": { description: Not found }

  /api/repos/{id}/health:
    get:
      tags: [repos]
      summary: Repo health snapshot (latest run + recent history)
      operationId: getRepoHealth
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string }
      responses:
        "200":
          description: Health
          content:
            application/json:
              schema: { $ref: "#/components/schemas/RepoHealth" }

  /api/linters:
    get:
      tags: [linters]
      summary: Detect languages/frameworks and recommend linters
      operationId: detectLinters
      responses:
        "200":
          description: Detection
          content:
            application/json:
              schema: { $ref: "#/components/schemas/LinterDetection" }

  /api/ai/review:
    post:
      tags: [ai]
      summary: AI review of a diff
      operationId: aiReview
      requestBody:
        content:
          application/json:
            schema: { $ref: "#/components/schemas/AiReviewRequest" }
      responses:
        "200":
          description: Review text
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AiTextResult" }
        "400": { description: Missing key or empty body }
        "500": { description: Anthropic error }

  /api/ai/fix:
    post:
      tags: [ai]
      summary: AI fix suggestions for a diff
      operationId: aiFix
      requestBody:
        content:
          application/json:
            schema: { $ref: "#/components/schemas/AiFixRequest" }
      responses:
        "200":
          description: Fix text
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AiTextResult" }

  /api/ai/explain:
    post:
      tags: [ai]
      summary: Plain-language explanation of lint offenses
      operationId: aiExplain
      requestBody:
        content:
          application/json:
            schema: { $ref: "#/components/schemas/AiExplainRequest" }
      responses:
        "200":
          description: Explain text
          content:
            application/json:
              schema: { $ref: "#/components/schemas/AiExplainResult" }

components:
  schemas:
    Health:
      type: object
      required: [status, service, version]
      properties:
        status:  { type: string, example: "ok" }
        service: { type: string, example: "lint-server" }
        version: { type: string, example: "0.1.0" }

    Run:
      type: object
      required: [id, startedAt, errorCount, warningCount, status]
      properties:
        id:           { type: string }
        startedAt:    { type: string, format: date-time }
        finishedAt:   { type: string, format: date-time, nullable: true }
        errorCount:   { type: integer, minimum: 0 }
        warningCount: { type: integer, minimum: 0 }
        status:
          type: string
          enum: [running, passed, failed]

    CreateRun:
      type: object
      properties:
        paths:
          type: array
          items: { type: string }
        fix:    { type: boolean }
        format: { type: string, enum: [text, json] }

    PolicyView:
      type: object
      properties:
        filePath: { type: string, nullable: true }
        rc:       { type: object, additionalProperties: true }
        yaml:     { type: string }

    ProjectEntry:
      type: object
      required: [id, name, addedAt, repositories]
      properties:
        id:      { type: string }
        name:    { type: string }
        root:    { type: string, nullable: true }
        addedAt: { type: string, format: date-time }
        repositories:
          type: array
          items: { $ref: "#/components/schemas/RepoEntry" }

    RepoEntry:
      type: object
      required: [id, name, root, addedAt]
      properties:
        id:      { type: string }
        name:    { type: string }
        root:    { type: string }
        addedAt: { type: string, format: date-time }

    Project:
      type: object
      required: [id, name, ephemeral, repositories]
      properties:
        id:        { type: string }
        name:      { type: string }
        root:      { type: string, nullable: true }
        addedAt:   { type: string, nullable: true, format: date-time }
        ephemeral: { type: boolean }
        repositories:
          type: array
          items: { $ref: "#/components/schemas/Repo" }

    Repo:
      type: object
      required: [id, name, root, projectId, projectName, ephemeral, health]
      properties:
        id:        { type: string }
        name:      { type: string }
        root:      { type: string }
        projectId: { type: string }
        projectName: { type: string }
        addedAt:   { type: string, nullable: true, format: date-time }
        ephemeral: { type: boolean }
        health:
          type: string
          enum: [unknown, passed, failed]
        latestRun:
          oneOf:
            - { $ref: "#/components/schemas/Run" }
            - { type: "null" }
        summary:
          type: object
          properties:
            total:   { type: integer, minimum: 0 }
            passed:  { type: integer, minimum: 0 }
            failed:  { type: integer, minimum: 0 }
            running: { type: integer, minimum: 0 }

    RepoHealth:
      type: object
      required: [id, status]
      properties:
        id:      { type: string }
        status:  { type: string, enum: [unknown, passed, failed] }
        lastRun: { $ref: "#/components/schemas/Run", nullable: true }

    LinterDetection:
      type: object
      required: [detected, suggested]
      properties:
        detected:
          type: object
          additionalProperties: true
        suggested:
          type: array
          items: { type: string }

    AiReviewRequest:
      type: object
      properties:
        diff:  { type: string }
        files:
          type: array
          items: { type: string }

    AiFixRequest:
      type: object
      properties:
        diff:  { type: string }
        files:
          type: array
          items: { type: string }
        fileContents:
          type: object
          additionalProperties: { type: string }

    AiExplainRequest:
      type: object
      required: [reports]
      properties:
        reports:
          type: array
          items: { $ref: "#/components/schemas/LintReport" }

    AiTextResult:
      type: object
      required: [text]
      properties:
        text: { type: string }

    AiExplainResult:
      allOf:
        - $ref: "#/components/schemas/AiTextResult"
        - type: object
          properties:
            uniqueRuleCount: { type: integer, minimum: 0 }

    LintReport:
      type: object
      required: [linter, files, error_count, warning_count]
      properties:
        linter: { type: string }
        files:
          type: array
          items: { $ref: "#/components/schemas/FileReport" }
        error_count:           { type: integer }
        warning_count:         { type: integer }
        fixable_error_count:   { type: integer }
        fixable_warning_count: { type: integer }

    FileReport:
      type: object
      required: [path, offenses]
      properties:
        path: { type: string }
        offenses:
          type: array
          items: { $ref: "#/components/schemas/Offense" }

    Offense:
      type: object
      required: [rule, message, severity, line, column]
      properties:
        rule:     { type: string }
        message:  { type: string }
        severity: { type: string, enum: [error, warning, info] }
        line:     { type: integer, minimum: 1 }
        column:   { type: integer, minimum: 0 }
        source:   { type: string }
        fixable:  { type: boolean }
